<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447264587957-8h0nc203s7fkmq2ja2nf476i6rukahku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447264587957-8h0nc203s7fkmq2ja2nf476i6rukahku</string>
	<key>API_KEY</key>
	<string>AIzaSyDk_YdYNEY7NgCBgqk2YtDL5X1pAUQTHsE</string>
	<key>GCM_SENDER_ID</key>
	<string>447264587957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Noneudemy.Swift6BMIApp0</string>
	<key>PROJECT_ID</key>
	<string>swift6bmi0</string>
	<key>STORAGE_BUCKET</key>
	<string>swift6bmi0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447264587957:ios:9a13d2f04b7d422c697efc</string>
</dict>
</plist>